__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
.env
.DS_Store
*.egg-info/
build/
dist/
.mypy_cache/
.mana_logs/
.mana_index/
.mana_cache/
.mana_llm_logs/
**/faiss/index.faiss
**/faiss/index.pkl
logs/
.mana/
.ruff_cache/
*.py[cod]
